            <div class="container">    
                <h3>Live! - Liveticker</h3>
                <div class="ticker">
                    <div class="well">
                        <p><i class="fa fa-sun-o"></i> Das nächste Spiel ist immer das Schwerste! Die Massen sind begeistert. Fantastische Stimmung in der IBM-Fußballarena in Ehningen! Gleich ist Anpfiff. <br><b>Ein neues Spiel kann begonnen werden</b></br></p>
                    </div>                      
                </div>
    </div> 