<!DOCTYPE html>
<html>
    <head>
<% include ../partials/head %>   
  </head>
        
<body>
 
     <% include ../partials/header %>

    <main>
        <div style="width:100%;height:30vw;background:    linear-gradient(
      rgba(85, 150, 230, 0.6), 
      rgba(85, 150, 230, 0.6)
    ), url('../images/tischbg.jpg');background-size: 100% auto;background-repeat:no-repeat;background-position: 100% 10%">   
            <div class="container text-center">
                <h1 style="font-size:4em;text-transform: uppercase;font-weight:500;padding-top: 10vh;color:white;">CLOUD <i class="fa fa-heart fa-1x"></i> Football</h1>
                <p style="color:white;font-size:1.5em">Experience the Power of Internet of Things in a new and innovative way.</p>
            </div>
        </div>     
        <div class="row" style="margin-top: 30px">
            <div class = "container" style="padding-top:30px;">
            <div class="col-md-6">
                <img style="width: 100%" src="../images/diagram.jpg"/>
            </div>
            <div class="col-md-6">
                <h3>Table football is commonly known everywhere...</h3> 
                <h4>...but where is the relation to the Cloud and the currently much debated Internet Of Things?</h4>
                <h4 style="bold;color:#3F598A;padding-top:10px;padding-bottom:10px;">Nowhere...UNTIL NOW!</h4>
                <p style="white-space: pre-line;">Recently we started our Project “Cloud loves Football”. Boundless arguments about the one and only table football champion now come to an end: The cloud connection enables a comprehensive ranking that will reveal the genuine masters and expose amateurs. 

                Experience a digital game that has no peer! The evaluation of the likelihood of victory and a live ticker are just a few examples for the complex system behind the game. Through LED - Mexican waves that are triggered by social networks and light effects, which appear along with the attainment of a goal, there is a flawless interface between the cloud and real life fun and your fame on Twitter assured. So what are you waiting for? Login, grab you friends and let the battle for the number one in the history of Football 4.0 begin…

                
                </p>
            </div>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
</html>